<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="TcpBinding" />
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="HttpBinding" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8000/Service/service"
                binding="netTcpBinding" bindingConfiguration="TcpBinding"
                contract="ServiceWcfHost.Service" name="TcpBinding">
                <identity>
                    <userPrincipalName value="NovikovaAI@atlant.com.by" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8001/Service/service" binding="wsDualHttpBinding"
                bindingConfiguration="HttpBinding" contract="ServiceWcfHost.Service"
                name="HttpBinding">
                <identity>
                    <userPrincipalName value="NovikovaAI@atlant.com.by" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>